@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 20px;
}

img, svg {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kanit", sans-serif;
}

h2 {
  font-weight: 300;
}


.text_size {
  font-size: var(--text-size) !important;
  line-height: 1.4 !important;
  font-weight: 300 !important;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 4;
}
header .inner_header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
header .inner_header_wrapper .logo_wrapper {
  max-width: 270px;
}
header .inner_header_wrapper .options_wrapper ul {
  list-style: none;
  display: flex;
  gap: 20px;
  color: #ffffff;
}
header .inner_header_wrapper .options_wrapper ul a {
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  letter-spacing: 1px;
  font-size: 20px;
}

.banner_section {
  height: 100vh;
}
.banner_section .image_wrapper {
  position: relative;
  height: 100%;
}
.banner_section .image_wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner_section .image_wrapper .content_overly {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3529411765);
}
.banner_section .image_wrapper .content_overly .clip_path_wrapper {
  position: absolute;
  inset: 0;
  z-index: 2;
  -webkit-clip-path: polygon(100% 77%, 100% 0, 100% 100%, 0 100%, 100% 77%);
          clip-path: polygon(100% 77%, 100% 0, 100% 100%, 0 100%, 100% 77%);
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  text-align: right;
}
.banner_section .image_wrapper .content_overly .clip_path_wrapper h4 {
  color: #000;
  font-weight: 300;
  font-family: "Kanit", sans-serif;
  padding-right: 30px;
  font-size: 24px;
}
.banner_section .image_wrapper .content_overly .clip_path_wrapper p {
  color: #000000;
  padding-right: 30px;
  padding-bottom: 20px;
}
.banner_section .image_wrapper .content_overly h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
}
.banner_section .image_wrapper .content_overly p {
  color: #ffffff;
  font-weight: 300;
}

.adj_wrapper {
  padding-block: 100px;
}

.section_1 {
  background-color: #ffffff;
  position: relative;
}
.section_1 .vertical_heading {
  display: flex;
  z-index: 10;
  gap: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  align-items: start;
  height: 100%;
  transform: rotate(-90deg);
}
.section_1 .vertical_heading h6 {
  margin-bottom: 0;
  font-weight: 200;
}
.section_1 .vertical_heading .line {
  width: 100%;
  height: 1px;
  background-color: #adadad;
}
.section_1 .sec_1_content_wrapper .left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}
.section_1 .sec_1_content_wrapper .left h2 {
  font-size: 28px;
}
.section_1 .sec_1_content_wrapper .left .list_wrapper ul {
  list-style: none;
  text-align: right;
}
.section_1 .sec_1_content_wrapper .left .list_wrapper ul li {
  color: #adadad;
}
.section_1 .sec_1_content_wrapper .left .list_wrapper ul li p {
  margin-bottom: 0;
}
.section_1 .sec_1_content_wrapper .left .arrow_next {
  display: block;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: relative;
  transition: 0.5s ease-out;
  transform: rotate3d(0, 0, 0, 0deg);
  width: 60px;
  height: 60px;
  margin-top: 30px;
}
.section_1 .sec_1_content_wrapper .left .arrow_next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 0;
  transform-origin: bottom;
  filter: blur(4px);
  transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
  opacity: 0;
  transition: 0.5s ease-out;
}
.section_1 .sec_1_content_wrapper .left .arrow_next:hover::before {
  opacity: 1;
}
.section_1 .sec_1_content_wrapper .left .arrow_next:hover {
  transform: rotate3d(0, 1, 0, 30deg);
}

.section_2 {
  height: 420px;
  position: relative;
}
.section_2 .sec_2_content_wrapper {
  height: 100%;
}
.section_2 img {
  height: 100vh;
  position: fixed;
  z-index: -1;
  inset: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_2 .clip_overlay {
  position: absolute;
  inset: 0;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0% 0%, 100% 25%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 25%, 100% 0%, 0% 0%);
}

.section_3 {
  padding-block: 100px 30px;
  background-color: #ffffff;
}
.section_3 .sec_3_content_wrapper .left {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.section_3 .sec_3_content_wrapper .left h2 {
  font-size: 28px;
}
.section_3 .sec_3_content_wrapper .left .list_wrapper ul {
  list-style: none;
  padding-left: 0;
  padding-top: 50px;
}
.section_3 .sec_3_content_wrapper .left .list_wrapper ul p {
  margin-bottom: 10px;
  color: #adadad;
}
.section_3 .sec_3_content_wrapper .left .arrow_next {
  display: block;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: relative;
  transition: 0.5s ease-out;
  transform: rotate3d(0, 0, 0, 0deg);
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
}
.section_3 .sec_3_content_wrapper .left .arrow_next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 0;
  transform-origin: bottom;
  filter: blur(4px);
  transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
  opacity: 0;
  transition: 0.5s ease-out;
}
.section_3 .sec_3_content_wrapper .left .arrow_next:hover::before {
  opacity: 1;
}
.section_3 .sec_3_content_wrapper .left .arrow_next:hover {
  transform: rotate3d(0, 1, 0, 30deg);
}

.section_4 {
  background-color: #ffffff;
  padding-block: 100px;
}
.section_4 .sec_4_content_wrapper .left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.section_4 .sec_4_content_wrapper .left h2 {
  font-size: 28px;
}
.section_4 .sec_4_content_wrapper .left .list_wrapper ul {
  list-style: none;
  padding-left: 0;
  padding-top: 50px;
}
.section_4 .sec_4_content_wrapper .left .list_wrapper ul p {
  margin-bottom: 10px;
  color: #adadad;
  font-size: 20px;
}
.section_4 .sec_4_content_wrapper .left .inner_container {
  height: 135px;
}
.section_4 .sec_4_content_wrapper .left .arrow_next {
  display: block;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: relative;
  transition: 0.5s ease-out;
  transform: rotate3d(0, 0, 0, 0deg);
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
}
.section_4 .sec_4_content_wrapper .left .arrow_next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 0;
  transform-origin: bottom;
  filter: blur(4px);
  transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
  opacity: 0;
  transition: 0.5s ease-out;
}
.section_4 .sec_4_content_wrapper .left .arrow_next:hover::before {
  opacity: 1;
}
.section_4 .sec_4_content_wrapper .left .arrow_next:hover {
  transform: rotate3d(0, 1, 0, 30deg);
}
.section_4 .sec_4_content_wrapper .right {
  background-color: #dcdcdc;
  padding: 100px 50px;
  position: relative;
}
.section_4 .sec_4_content_wrapper .right .absolute_block {
  position: absolute;
  bottom: 0;
  left: -35%;
  font-family: "Kanit", sans-serif;
}
.section_4 .sec_4_content_wrapper .right .absolute_block p {
  color: #adadad;
  font-size: 18px;
  mix-blend-mode: difference;
  text-align: center;
}
.section_4 .sec_4_content_wrapper .right .absolute_block .separat_p_2 {
  font-size: 50px;
}

.section_5 {
  background-color: #ffffff;
  padding-block: 100px;
  position: relative;
  overflow: hidden;
}
.section_5 .block_shadow_2 {
  display: none;
  position: absolute;
  background: url(/assets/images/shadow.png) 50% 50% no-repeat;
  background-size: contain;
  color: transparent;
  opacity: 0.3;
  width: 700px;
  height: 700px;
  left: -400px;
  bottom: -200px;
  animation: block_shadow_1 5s ease-in-out infinite;
}
@keyframes block_shadow_1 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}
.section_5 .sec_5_content_wrapper .left {
  margin-left: auto;
}
.section_5 .sec_5_content_wrapper .middle {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.section_5 .sec_5_content_wrapper .middle p {
  color: #adadad;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
}
.section_5 .sec_5_content_wrapper .middle .zernosu_text {
  width: 100%;
}
.section_5 .sec_5_content_wrapper .middle .zernosu_p_2 {
  font-size: 30px;
  text-transform: uppercase;
}
.section_5 .sec_5_content_wrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.section_5 .sec_5_content_wrapper .right h2 {
  font-size: 28px;
}
.section_5 .sec_5_content_wrapper .right p {
  color: #adadad;
}
.section_5 .sec_5_content_wrapper .right .arrow_next {
  display: block;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: relative;
  transition: 0.5s ease-out;
  transform: rotate3d(0, 0, 0, 0deg);
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
}
.section_5 .sec_5_content_wrapper .right .arrow_next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 0;
  transform-origin: bottom;
  filter: blur(4px);
  transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
  opacity: 0;
  transition: 0.5s ease-out;
}
.section_5 .sec_5_content_wrapper .right .arrow_next:hover::before {
  opacity: 1;
}
.section_5 .sec_5_content_wrapper .right .arrow_next:hover {
  transform: rotate3d(0, 1, 0, 30deg);
}

.section_6 {
  background-color: #373737;
  padding-block: 100px;
}
.section_6 .sec_6_content_wrapper .left {
  padding-left: 50px;
}
.section_6 .sec_6_content_wrapper .left h2 {
  font-size: 28px;
  color: #ffffff;
}
.section_6 .sec_6_content_wrapper .left .list_wrapper ul {
  list-style: none;
  padding-left: 0px;
  padding-top: 30px;
}
.section_6 .sec_6_content_wrapper .left .list_wrapper ul li {
  font-size: 18px;
  color: #ffffff;
}
.section_6 .sec_6_content_wrapper .left .list_wrapper ul li p {
  margin-bottom: 10px;
}
.section_6 .sec_6_content_wrapper .middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  align-items: flex-end;
  text-align: right;
  padding-right: 30px;
}
.section_6 .sec_6_content_wrapper .middle .arrow_next {
  display: block;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: relative;
  transition: 0.5s ease-out;
  transform: rotate3d(0, 0, 0, 0deg);
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
  filter: invert(1) brightness(1.5);
}
.section_6 .sec_6_content_wrapper .middle .arrow_next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 0;
  transform-origin: bottom;
  filter: blur(4px);
  transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
  opacity: 0;
  transition: 0.5s ease-out;
  filter: invert(0) brightness(1.5);
}
.section_6 .sec_6_content_wrapper .middle .arrow_next:hover::before {
  opacity: 1;
}
.section_6 .sec_6_content_wrapper .middle .arrow_next:hover {
  transform: rotate3d(0, 1, 0, 30deg);
}
.section_6 .sec_6_content_wrapper .middle .silosy_text {
  color: #adadad;
  text-transform: uppercase;
  padding-top: 30px;
}
.section_6 .sec_6_content_wrapper .middle .silosy_text .silosy_p_2 {
  font-size: 28px;
}
.section_6 .sec_6_content_wrapper .right img {
  max-width: 250px;
}

.section_7 {
  background-color: #ffffff;
  position: relative;
}
.section_7 .clip_overlay {
  position: absolute;
  inset: 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 0%);
  background-color: transparent;
}
.section_7 .sec_7_content_wrapper {
  background-color: #eaeaea;
  padding-block: 150px 50px;
}
.section_7 .sec_7_content_wrapper .content_container {
  display: flex;
  align-items: center;
  gap: 40px;
  text-align: right;
}
.section_7 .sec_7_content_wrapper .content_container h2 {
  font-weight: 300;
}
.section_7 .sec_7_content_wrapper .content_container .arrow_next {
  display: block;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: relative;
  transition: 0.5s ease-out;
  transform: rotate3d(0, 0, 0, 0deg);
  width: 60px;
  height: 60px;
}
.section_7 .sec_7_content_wrapper .content_container .arrow_next::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 0;
  transform-origin: bottom;
  filter: blur(4px);
  transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
  opacity: 0;
  transition: 0.5s ease-out;
}
.section_7 .sec_7_content_wrapper .content_container .arrow_next:hover::before {
  opacity: 1;
}
.section_7 .sec_7_content_wrapper .content_container .arrow_next:hover {
  transform: rotate3d(0, 1, 0, 30deg);
}

.section_8 {
  background-color: #ffffff;
  padding-block: 100px;
  position: relative;
}
.section_8 .for_clippy_overlay {
  position: absolute;
  inset: 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 0%);
  z-index: 10;
}
.section_8 .sec_8_content_wrapper {
  padding-top: 100px;
  position: relative;
}
.section_8 .sec_8_content_wrapper .block_shadow_3 {
  display: none;
  position: absolute;
  background: url(/assets/images/shadow.png) 50% 50% no-repeat;
  background-size: contain;
  left: 50%;
  top: -20%;
  transform: translateX(-50%) rotate(-90deg);
  color: transparent;
  opacity: 0.2;
  z-index: 9;
  animation: block_shadow_3 10s ease-in-out infinite;
}
@keyframes block_shadow_3 {
  0% {
    width: 200px;
    height: 200px;
  }
  50% {
    width: 1000px;
    height: 1000px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
.section_8 .sec_8_content_wrapper h2 {
  font-size: 28px;
  margin-bottom: 50px;
}
.section_8 .sec_8_content_wrapper .row_parent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section_8 .sec_8_content_wrapper .custom_rows {
  display: flex;
  gap: 40px;
}
.section_8 .sec_8_content_wrapper .custom_rows .svg_orange {
  stroke: orange;
}
.section_8 .sec_8_content_wrapper .custom_rows .svg_black {
  stroke: #000000;
}
.section_8 .sec_8_content_wrapper .custom_rows .icon {
  filter: grayscale(100%) brightness(0.5);
  max-width: 80px;
}
.section_8 .sec_8_content_wrapper .custom_rows .content h3 {
  font-weight: 300;
  font-size: 24px;
}
.section_8 .sec_8_content_wrapper .custom_rows .content p {
  color: #adadad;
}
.section_8 .sec_8_content_wrapper .custom_rows .content .only_arrow {
  width: 50px;
  display: flex;
  overflow: hidden;
}
.section_8 .sec_8_content_wrapper .custom_rows .content .only_arrow svg {
  flex-shrink: 0;
  width: 50px;
  display: inline-block;
  transition: margin-left 0.3s ease-in-out;
}
.section_8 .sec_8_content_wrapper .custom_rows .content .only_arrow svg.svg_orange {
  margin-left: -100%;
}
.section_8 .sec_8_content_wrapper .custom_rows .content .only_arrow:hover .svg_orange {
  margin-left: 0%;
}

.section_9 {
  background-color: #ffffff;
  padding-block: 100px;
}
.section_9 .sec_9_content_wrapper .carousel_wrapper {
  overflow-x: hidden;
  position: relative;
}
.section_9 .sec_9_content_wrapper .carousel_wrapper .navs_wrapper {
  position: absolute;
  bottom: 100px;
  right: 10%;
  z-index: 3;
  display: flex;
  gap: 20px;
}
.section_9 .sec_9_content_wrapper .carousel_wrapper .navs_wrapper .prev svg {
  stroke: #fff;
}
.section_9 .sec_9_content_wrapper .carousel_wrapper .navs_wrapper .prev:hover svg {
  stroke: orange;
}
.section_9 .sec_9_content_wrapper .carousel_wrapper .navs_wrapper .next {
  transform: rotate(180deg);
}
.section_9 .sec_9_content_wrapper .carousel_wrapper .navs_wrapper .next svg {
  stroke: #fff;
}
.section_9 .sec_9_content_wrapper .carousel_wrapper .navs_wrapper .next:hover svg {
  stroke: orange;
}
.section_9 .sec_9_content_wrapper h2 {
  font-size: 28px;
}
.section_9 .sec_9_content_wrapper .swiper {
  margin-top: 50px;
  overflow-y: visible;
  padding-block: 70px;
}
.section_9 .sec_9_content_wrapper .swiper-slide {
  min-height: 350px;
  filter: brightness(0.6);
}
.section_9 .sec_9_content_wrapper .swiper-slide .image_wrapper {
  height: 350px;
  transform: scale(1);
  transition: all 0.6s ease-in-out;
}
.section_9 .sec_9_content_wrapper .swiper-slide .image_wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_9 .sec_9_content_wrapper .swiper-slide .image_wrapper p {
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 15px;
}
.section_9 .sec_9_content_wrapper .swiper-slide.swiper-slide-next {
  z-index: 9;
  box-shadow: -5px 13px 45px -11px rgba(0, 0, 0, 0.67);
  filter: brightness(1);
}
.section_9 .sec_9_content_wrapper .swiper-slide.swiper-slide-next .image_wrapper {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}
.section_9 .sec_9_content_wrapper .swiper-slide.swiper-slide-next .image_wrapper p {
  width: 100%;
  transition: width 4s linear;
}

.section_10 {
  background-image: url(https://kmzindustries.ua/wp-content/themes/kmz/images/bg_sec_5.jpg);
  height: 400px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.section_10 .sec_10_content_wrapper {
  position: absolute;
  inset: 0;
  top: -2px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 25%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 25%);
  background-color: #ffffff;
}

.section_12 {
  background-color: #ffffff;
  padding-block: 100px;
}
.section_12 .sec_12_content_wrapper {
  padding-left: 100px;
}
.section_12 .sec_12_content_wrapper h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
.section_12 .sec_12_content_wrapper .social_icons {
  display: flex;
  gap: 20px;
  justify-content: end;
  padding-right: 50px;
}
.section_12 .sec_12_content_wrapper .social_icons p {
  font-size: 12px;
}
.section_12 .sec_12_content_wrapper .social_icons .icon img {
  width: 30px;
}

footer {
  background-color: #f1f1f1;
  padding-block: 100px;
}
footer a, footer li, footer p {
  color: #adadad;
}
footer .left img {
  max-width: 270px;
}
footer .middle a {
  display: block;
}/*# sourceMappingURL=style.css.map */