@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font-kanit: 'Kanit', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$background-color: #ffffff;
$svg-background-color: #dcdcdc;
$light-font-colour: #adadad;
$primary-heading: 45px;
$secondary-heading: 28px; //38px
$teritiary-heading: 24px;
$text-size: 20px;
$green-accent: #2C6715;

body {
    margin: 0;
    padding: 0;
    font-family: $font-quicksand;
}
  
a, a:hover {
text-decoration: none;
color: inherit;
}

p{
    font-size: $text-size;
}

img, svg {
width: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-kanit;
}

h2{
    font-weight: 300;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 4;
    .inner_header_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        .logo_wrapper{
            max-width: 85px;
        }
        .options_wrapper{
            ul{
                list-style: none;
                display: flex;
                gap: 20px;
                color: $background-color;
                a{
                    font-weight: 300;
                    font-family: $font-kanit;
                    letter-spacing: 1px;
                    font-size: $text-size;
                }
            }
        }
    }
    
}

.banner_section{
    height: 100vh;
    .image_wrapper{
        position: relative;
        height: 100%;
        img{
            height: 100%;
            object-fit: cover;
        }
        .content_overly{
            position: absolute;
            inset: 0;
            z-index: 3;
            display: flex;
            align-items: center;
            background-color: #0000005a;
            .clip_path_wrapper{
                position: absolute;
                inset: 0;
                z-index: 2;
                clip-path: polygon(100% 77%, 100% 0, 100% 100%, 0 100%, 100% 77%);
                background-color: $background-color;
                display: flex;
                justify-content: flex-end;
                align-items: end;
                text-align: right;
                h4{
                    color: #000;
                    font-weight: 300;
                    font-family: $font-kanit;
                    padding-right: 30px;
                    font-size: $teritiary-heading;
                }
                p{
                    color: #000000;
                    padding-right: 30px;
                    padding-bottom: 20px;
                    // font-size: $teritiary-heading;
                }
            }
            h1{
                color: $background-color;
                font-size: $primary-heading;
                font-weight: 300;
            }
            p{
                color: $background-color;
                // font-size: 20px;
                font-weight: 300;
            }
        }
    }
}

.adj_wrapper{
    padding-block: 100px;
}

.section_1{
    background-color: $background-color;
    position: relative;
    .vertical_heading{
        display: flex;
        z-index: 10;
        gap: 20px;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        align-items: start;
        height: 100%;
        transform: rotate(-90deg);
        h6{
            margin-bottom: 0;
            font-weight: 200;
        }
        .line{
            width: 100%;
            height: 1px;
            background-color: $light-font-colour;
        }
    }
    .sec_1_content_wrapper{
        .left{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 50px;
            h2{
                font-size: $secondary-heading;
                // font-size: $teritiary-heading;
            }
            .list_wrapper{
                ul{
                    list-style: none;
                    text-align: right;
                    li{
                        color: $light-font-colour;
                        p{
                            // font-size: $teritiary-heading;
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .arrow_next {
                display: block;
                background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                background-size: contain;
                position: relative;
                transition: 0.5s ease-out;
                transform: rotate3d(0, 0, 0, 0deg);
                width: 60px;
                height: 60px;
                margin-top: 30px;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transform-origin: bottom;
                    filter: blur(4px);
                    transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
                    opacity: 0;
                    transition: 0.5s ease-out;
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover {
                    transform: rotate3d(0, 1, 0, 30deg);
                }
            }
        }
    }
}

.section_2{
    height: 420px;
    position: relative;
    .sec_2_content_wrapper{
        height: 100%;
    }
    img{
        height: 100vh;
        position: fixed;
        z-index: -1;
        inset: 0;
        object-fit: cover;
    }
    .clip_overlay{
        position: absolute;
        inset: 0;
        background-color: $background-color;
        clip-path: polygon(0% 0%, 100% 25%, 100% 0%, 0% 0%);
    }
}

.section_3{
    padding-block: 100px 30px;
    background-color: $background-color;
    .sec_3_content_wrapper{
        .left{
            display: flex;
            flex-direction: column;
            padding-right: 50px;
            h2{
                font-size: $secondary-heading;
            }
            .list_wrapper{
                ul{
                    list-style: none;
                    padding-left: 0;
                    padding-top: 50px;
                    p{
                        margin-bottom: 10px;
                        color: $light-font-colour;
                    }
                }
            }
            .arrow_next {
                display: block;
                background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                background-size: contain;
                position: relative;
                transition: 0.5s ease-out;
                transform: rotate3d(0, 0, 0, 0deg);
                width: 60px;
                height: 60px;
                margin-top: 30px;
                margin-left: auto;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transform-origin: bottom;
                    filter: blur(4px);
                    transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
                    opacity: 0;
                    transition: 0.5s ease-out;
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover {
                    transform: rotate3d(0, 1, 0, 30deg);
                }
            }
        }
    }
}


.section_4{
    background-color: $background-color;
    padding-block: 100px;
    .sec_4_content_wrapper{
        
        .left{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            h2{
                font-size: $secondary-heading;
            }
            .list_wrapper{
                ul{
                    list-style: none;
                    padding-left: 0;
                    padding-top: 50px;
                    p{
                        margin-bottom: 10px;
                        color: $light-font-colour;
                        font-size: $text-size;
                    }
                }
            }
            .inner_container{
                height: 135px;
            }
            .arrow_next {
                display: block;
                background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                background-size: contain;
                position: relative;
                transition: 0.5s ease-out;
                transform: rotate3d(0, 0, 0, 0deg);
                width: 60px;
                height: 60px;
                margin-top: 30px;
                margin-left: auto;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transform-origin: bottom;
                    filter: blur(4px);
                    transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
                    opacity: 0;
                    transition: 0.5s ease-out;
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover {
                    transform: rotate3d(0, 1, 0, 30deg);
                }
            }
        }
        .right{
            background-color: $svg-background-color ;   
            padding: 100px 50px;
            position: relative;
            .absolute_block{        //extras
                position: absolute;
                bottom: 0;
                left: -35%;
                font-family: $font-kanit;
                p{
                    color: $light-font-colour;
                    font-size: 18px;
                    mix-blend-mode: difference;
                    text-align: center;
                }
                .separat_p_2{
                    font-size: 50px;
                }
            }
        }
        
    }
}

.section_5{
    background-color: $background-color;
    padding-block: 100px;
    position: relative;
    overflow: hidden;
    .block_shadow_2 {
        display: none;
        position: absolute;
        background: url(/assets/images/shadow.png) 50% 50% no-repeat;
        background-size: contain;
        color: transparent;
        opacity: 0.3;
        width: 700px;
        height: 700px;
        left: -400px;
        bottom: -200px;
        animation: block_shadow_1 5s ease-in-out infinite;
        @keyframes block_shadow_1 {
            0%{
                transform: scale(0);
            }
            50%{
                transform: scale(2);
            }
            100%{
                transform: scale(0);
            }
        }
    }
    .sec_5_content_wrapper{
        .left{
            // padding: 20px;
            // max-width: 300px;
            margin-left: auto;
        }
        .middle{
            display: flex;
            height: 100%;
            align-items: flex-end;
            p{
                color: $light-font-colour;
                font-weight: 500;
                font-size: $text-size;
                text-align: right;
            }
            .zernosu_text{
                width: 100%;
            }
            .zernosu_p_2{
                font-size: 30px;    //extras
                text-transform: uppercase;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            h2{
                font-size: $secondary-heading;
            }
            p{
                color: $light-font-colour;
            }
            .arrow_next {
                display: block;
                background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                background-size: contain;
                position: relative;
                transition: 0.5s ease-out;
                transform: rotate3d(0, 0, 0, 0deg);
                width: 60px;
                height: 60px;
                margin-top: 30px;
                margin-left: auto;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transform-origin: bottom;
                    filter: blur(4px);
                    transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
                    opacity: 0;
                    transition: 0.5s ease-out;
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover {
                    transform: rotate3d(0, 1, 0, 30deg);
                }
            }
        }
    }
}

.section_6{
    background-color: #373737;
    padding-block: 100px;
    .sec_6_content_wrapper{
        .left{
            padding-left: 50px;
            h2{
                font-size: $secondary-heading;
                color: $background-color;
            }
            .list_wrapper{
                ul{
                    list-style: none;
                    padding-left: 0px;
                    padding-top: 30px;
                    li{
                        font-size: 18px;
                        color: $background-color;
                        p{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
        .middle{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            align-items: flex-end;
            text-align: right;
            padding-right: 30px;
            .arrow_next {
                display: block;
                background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                background-size: contain;
                position: relative;
                transition: 0.5s ease-out;
                transform: rotate3d(0, 0, 0, 0deg);
                width: 60px;
                height: 60px;
                margin-top: 30px;
                margin-left: auto;
                filter: invert(1) brightness(1.5);
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transform-origin: bottom;
                    filter: blur(4px);
                    transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
                    opacity: 0;
                    transition: 0.5s ease-out;
                    filter: invert(0) brightness(1.5);
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover {
                    transform: rotate3d(0, 1, 0, 30deg);
                }
            }
            .silosy_text{
                color: $light-font-colour;
                text-transform: uppercase;
                padding-top: 30px;
                .silosy_p_2{
                    font-size: $secondary-heading;
                }
            }
        }
        .right{
            img{
                max-width: 250px;
            }
        }
    }
}

.section_7{
    background-color: $background-color;
    position: relative;
    .clip_overlay{
        position: absolute;
        inset: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 0%);
        background-color: transparent
    }
    .sec_7_content_wrapper{
        background-color: #eaeaea;
        padding-block: 150px 50px;
        .content_container{
            display: flex;
            align-items: center;
            gap: 40px;
            text-align: right;
            h2{
                font-weight: 300;
            }
            .arrow_next {
                display: block;
                background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                background-size: contain;
                position: relative;
                transition: 0.5s ease-out;
                transform: rotate3d(0, 0, 0, 0deg);
                width: 60px;
                height: 60px;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(https://kmzindustries.ua/wp-content/themes/kmz/images/arrow_black.svg) 50% 50% no-repeat;
                    background-size: contain;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    transform-origin: bottom;
                    filter: blur(4px);
                    transform: rotate3d(-1, 0, 0, 100deg) scale(0.9);
                    opacity: 0;
                    transition: 0.5s ease-out;
                }
                &:hover::before{
                    opacity: 1;
                }
                &:hover {
                    transform: rotate3d(0, 1, 0, 30deg);
                }
            }
        }
    }
}

.section_8{
    background-color: #ffffff;
    padding-block: 100px;
    position: relative;
    .for_clippy_overlay{
        position: absolute;
        inset: 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 0%);
        z-index: 10;
    }
    .sec_8_content_wrapper{
            padding-top: 100px;
            position: relative;
        .block_shadow_3 {
            display: none;
            position: absolute;
            background: url(/assets/images/shadow.png) 50% 50% no-repeat;
            background-size: contain;
            left: 50%;
            top: -20%;
            transform: translateX(-50%) rotate(-90deg);
            color: transparent;
            opacity: 0.2;
            z-index: 9;
            animation: block_shadow_3 10s ease-in-out infinite ;
            @keyframes block_shadow_3 {
                0%{
                    width: 200px;
                    height: 200px;
                }
                50%{
                    width: 1000px;
                    height: 1000px;
                }
                100%{
                    width: 200px;
                    height: 200px;
                }
            }
        }
        h2{
            font-size: $secondary-heading;
            margin-bottom: 50px;
        }
        .row_parent{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .custom_rows{
            display: flex;
            gap: 40px;
            .svg_orange{
                stroke: orange;
            }
            .svg_black{
                stroke: #000000;
            }
            .icon{
                filter: grayscale(100%) brightness(0.5);
                max-width: 80px;
            }
            .content{
                h3{
                    font-weight: 300;
                    font-size: $teritiary-heading;
                }
                p{
                    color: $light-font-colour;
                }
                .only_arrow{
                    width: 50px;
                    display: flex;
                    overflow: hidden;
                    svg{
                        flex-shrink: 0;
                        width: 50px;
                        display: inline-block;
                        transition: margin-left .3s ease-in-out;
                        &.svg_orange{
                            margin-left: -100%;
                        }
                        
                    }
                    &:hover .svg_orange{
                        margin-left: 0%;
                    } 
                }
            }
        }
    }
}


.section_9{
    background-color: #ffffff;
    padding-block: 100px;
    .sec_9_content_wrapper{
        .carousel_wrapper{
            overflow-x: hidden;
            position: relative;
            .navs_wrapper{
                position: absolute;
                bottom: 100px;
                right: 10%;
                z-index: 3;
                display: flex;
                gap: 20px;
                .prev{
                    svg{
                        stroke: #fff;
                    }
                    &:hover{
                        svg{
                            stroke: orange;
                        }
                    }
                }
                .next{
                    transform: rotate(180deg);
                    svg{
                        stroke: #fff;
                    }
                    &:hover{
                        svg{
                            stroke: orange;
                        }
                    }
                }
            }
        }
        h2{
            font-size: $secondary-heading;
        }
        .swiper{
            margin-top: 50px;
            overflow-y: visible ;
            padding-block: 70px;
            
        }
        .swiper-slide{
            min-height: 350px;
            
            
            filter: brightness(0.6);
            .image_wrapper{
                height: 350px;
                transform: scale(1);
                transition: all .6s ease-in-out;
                img{
                    height: 100%;
                    object-fit: cover;
                }
                p{
                    width: 0%;
                    overflow: hidden;
                    white-space: nowrap;
                    margin-top: 15px;
                }
            }
            &.swiper-slide-next{
                
                
                z-index: 9;
                -webkit-box-shadow: -5px 13px 45px -11px rgba(0,0,0,0.67);
                -moz-box-shadow: -5px 13px 45px -11px rgba(0,0,0,0.67);
                box-shadow: -5px 13px 45px -11px rgba(0,0,0,0.67);
                filter: brightness(1);
                .image_wrapper{
                    transform: scale(1.1);
                    transition: all .6s ease-in-out;
                    p{
                        width: 100%;
                        transition: width 4s linear;
                    }
                }
            }
        }
    }
}

.section_10{
    background-image: url(https://kmzindustries.ua/wp-content/themes/kmz/images/bg_sec_5.jpg);
        height: 400px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    .sec_10_content_wrapper{
        position: absolute;
        inset: 0;
        top: -2px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 25%);
        background-color: #ffffff
    }
}

.section_12{
    background-color: $background-color;
    padding-block: 100px;
    .sec_12_content_wrapper{
        padding-left: 100px;
        h2{
            font-size: $secondary-heading;
            margin-bottom: 30px;
        }
        .social_icons{
            display: flex;
            gap: 20px;
            justify-content: end;
            padding-right: 50px;
            p{
                font-size: 12px;
            }
            .icon{
                img{
                    width: 30px;
                }
            }
        }
    }
}

footer{
    background-color: #f1f1f1;
    padding-block: 100px;
    a,li,p{
        color: $light-font-colour;
    }
    .left{
        img{
            max-width: 200px;
        }
    }
    .middle{
        a{
            display: block;
        }
    }
}